/*****Ajustes Generales *****/

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cac6c6 !important;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 46px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

p {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
}

img {
  object-fit: cover !important;
}

/*****HEADER & NAV*****/

.img-logo {
  width: 5rem;
}

#active {
  color: rgb(255, 255, 255) !important;
}

/*Carousel Titulos*/

/* .carousel-title {

} */

.carousel-paragraph {
  margin-top: -0.5rem;
  padding-left: 28rem !important;
}

/*Carousel Imagenes*/
.img-carousel {
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.img-carousel3 {
  object-position: 0 -10% !important;
}

.shadow-img {
  background-color: rgba(0, 0, 0, 0.658);
  max-height: 100vh;
}

/*****Main*****/

main {
  min-height: 60vh;
}

/*Seccion Oradores*/
/* .img-oradores {
  height: 300px !important;
  object-fit: cover;
}

.card-body-h {
  height: 205px !important;

} */

.layout-title {
  margin-top: -1rem !important;
}

/*Seccion Lugar-Fecha*/
.section2-h {
  height: 350px !important;
}

.img-lugar-fecha {
  object-fit: cover;
}

/*Seccion Inscripcion*/

.form-imagen {
  width: 600px !important;
  width: 100% !important;
  height: 600px !important;
  border-radius: 2%;
}

.textarea {
  resize: none;
}

.layout-title-s3 {
  margin-top: 8rem;
}

/*****Footer*****/

footer {
  min-height: 15vh;
  background-color: #1d4358;
}
footer a {
  color: white;
  font-size: 14px;
}

.ok {
  min-width: 200px !important;
  margin: auto !important;
}
