/*****Ajustes Globales *****/

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cac6c6 !important;
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 46px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

p {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
}

img {
  object-fit: cover !important;
}

/*****HEADER & NAV*****/

.img-logo {
  width: 5rem;
}

nav li a:hover,
nav li a:focus {
  color: #ffffff !important;
}

/*Carousel Titulos*/
.carousel-paragraph {
  margin-top: -0.5rem;
  padding-left: 28rem !important;
}

/*Carousel Imagenes*/
.img-carousel {
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.img-carousel3 {
  object-position: 0 -10% !important;
}

.shadow-img {
  background-color: rgba(0, 0, 0, 0.658);
  max-height: 100vh;
}

/*****Main*****/

main {
  min-height: 60vh;
}

/*Seccion Oradores*/
.card-s1 {
  transition: 0.3s;
}

.card-s1:hover {
  transform: scale(1.05);
}

.layout-title {
  margin-top: -1rem !important;
}

/*Seccion Lugar-Fecha*/
.section2-h {
  height: 350px !important;
}

.img-lugar-fecha {
  object-fit: cover;
}

/*Seccion Inscripcion*/
.form-imagen {
  width: 600px !important;
  width: 100% !important;
  height: 600px !important;
}

.punteado {
  border-bottom: 2px dotted white;
}

span a {
  color: white;
}

.textarea {
  resize: none;
}

.layout-title-s3 {
  margin-top: 9rem;
}

/*****Footer*****/

footer {
  min-height: 15vh;
  background-color: #1d4358;
}

footer a {
  color: white;
  font-size: 14px;
}

footer a:hover {
  color: rgb(122, 204, 220);
  font-size: 16px;
}
